<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=3">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        UNI Lost&Found
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/report">Report</a>
        <a href="/search">Search</a>
        <a href="/database">Database</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout" class="login-btn">Logout</a>
    </div>

</nav>


<section class="database-section">

    <h2>All Reported Items</h2>
    <p>All reports stored in the database</p>

    {% if reports %}

    <div class="table-container">

        <table class="reports-table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Gate</th>
                </tr>
            </thead>

            <tbody>
                {% for report in reports %}
                <tr>
                    <td>{{ report[0] }}</td>

                    <td>
                        <img src="{{ url_for('static', filename='uploads/' + report[4]) }}">
                    </td>

                    <td>{{ report[1] }}</td>
                    <td>{{ report[2] }}</td>
                    <td>{{ report[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

    {% else %}

    <div class="empty-message">
        <h3>No reports yet</h3>
        <p>Once a student reports an item, it will appear here.</p>
    </div>

    {% endif %}

</section>

</body>
</html>