<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=3">
</head>

<body>

<header class="header">
    <div class="header-inner">

        <div class="logo">
            <a href="/">UNI Lost&Found</a>
        </div>

        <nav class="header-nav">
            <a href="/">Home</a>
            <a href="/report">Report</a>
            <a href="/search">Search</a>
            <a href="/database">Database</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout" class="login-btn">Logout</a>
        </nav>

    </div>
</header>

<section class="page">

    <div class="page-title">
        <h1>All Reported Items</h1>
        <p>All reports stored in the database</p>
    </div>

    {% if reports %}

    <div class="table-container">

        <table class="reports-table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Gate</th>
                </tr>
            </thead>

            <tbody>

                {% for report in reports %}

                <tr>

                    <td>{{ report[0] }}</td>

                    <td>
                        <img
                        src="{{ url_for('static', filename='uploads/' + report[4]) }}"
                        width="100">
                    </td>

                    <td>{{ report[1] }}</td>

                    <td>{{ report[2] }}</td>

                    <td>{{ report[3] }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    {% else %}

    <div class="empty-box">
        <h2>No reports yet</h2>
    </div>

    {% endif %}

</section>

</body>
</html>